<!DOCTYPE html>
<html>
	<head>
		<title>Access Permissions</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/stylesheets/style.css" rel="stylesheet" />

	</head>
	<body ng-app="app">
		<nav class="navbar navbar-default" ng-controller="NavCtrl">
			<div class="container-fluid">
	          	<div class="navbar-header">
	            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              		<span class="sr-only">Toggle navigation</span>
	              		<span class="icon-bar"></span>
	              		<span class="icon-bar"></span>
	              		<span class="icon-bar"></span>
	            	</button>
	            	<a class="navbar-brand" href="/#/home">ACL</a>
	          	</div>
	          	<div id="navbar" class="navbar-collapse collapse">
	            	<ul class="nav navbar-nav">
	              		<li><a href="/#/home">Home</a></li>
		  				<li ng-show="isLoggedIn()">
		  					<a href="/#/admin">Admin</a>
		  				</li>
	            	</ul>
	            	<ul class="nav navbar-nav navbar-right">
		  				<li ng-show="isLoggedIn()">
		  					<a>{{currentUser()}}</a>
		  				</li>
		  				<li ng-show="isLoggedIn()">
		  					<a href="" ng-click="logOut()">Log Out</a>
		  				</li>
		  				<li ng-hide="isLoggedIn()">
		  					<a href="/#/login">Log In</a>
		  				</li>
	            	</ul>
	          	</div><!--/.nav-collapse -->
        	</div><!--/.container-fluid -->
      	</nav>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>

	<script type="text/ng-template" id="_home.html">
		<div class="page-header">
			<h1>ACL</h1>
		</div>
		<strong>Roles: </strong>{{roles | json}}
		<div class="row">
			<div class="col-md-4">
				<h3>No Auth</h3>
				Anyone can see this section
			</div>
			<div class="col-md-4">
				<h3>Basic User</h3>
				<div ng-show="isLoggedIn()">
					<span ng-show="hasRole('user')">You are authenticated and have the "user" role.</span>
					<span ng-hide="hasRole('user')">Only authenticated users with the role of "user" can see this section</span>
				</div>
				<span ng-hide="isLoggedIn()">Only authenticated users with the "user" role can see this section</span>
			</div>
			<div class="col-md-4">
				<h3>Admin</h3>
				<div ng-show="isLoggedIn()">
					<span ng-show="hasRole('admin')">You are authenticated and have the "admin" role.</span>
					<span ng-hide="hasRole('admin')">Only authenticated users with the role of "admin" can see this section</span>
				</div>
				<span ng-hide="isLoggedIn()">Only authenticated users with the "admin" role can see this section</span>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="_login.html">
		<div class="page-header">
			<h1>Acl</h1>
		</div>

		<div ng-show="error" class="alert alert-danger row">
			<span>{{error.message}}</span>
		</div>

		<form ng-submit="logIn()" style="margin-top:30px;">
			<h3>Log In</h3>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
			</div>

			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
			</div>

			<button type="submit" class="btn btn-primary">Log In</button>
		</form>
	</script>
	<script type="text/ng-template" id="_admin.html">
		<div class="page-header">
			<h1>Acl</h1>
		</div>
		<h3>Administration</h3>
	</script>
	</body>
</html>
