<!DOCTYPE html>
<html>
	<head>
		<title>Access Permissions</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/stylesheets/style.css" rel="stylesheet" />

	</head>
	<body ng-app="app">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>

	<script type="text/ng-template" id="_home.html">
		<div class="page-header">
			<h1>ACL</h1>
		</div>
	</script>
	</body>
</html>
